@font-face {
  font-family: "Rocko";
  src: url(./fonts/RockoFLF-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Rocko";
  src: url(./fonts/RockoFLF.ttf) format("truetype");
}
@font-face {
  font-family: "Rocko";
  src: url(./fonts/RockoUltraFLF-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Rocko";
  src: url(./fonts/RockoUltraFLF.ttf) format("truetype");
}
